---

import { Arrow } from '@/components/Header'

---

<div class="flex justify-between rounded-t-md">
    <div class="flex items-center justify-center gap-2">
        <Arrow client:visible text="&lt;"/>
        <Arrow client:visible text="&gt;"/>
    </div>
    <a href="https://www.spotify.com/" >
        <img src="/favicon.svg" alt="Spotify" />
    </a>
</div>